@import "tailwindcss";

#testimonials {
  margin-left: -100px;
  margin-right: -100px;
}

/* Global style */
body {
  font-family: "Inter", sans-serif;
  margin: 30px 100px;
  background-color: #f0f5f4;
}

/* Logo */
.logo {
  font-size: 36px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}